:host {
  display: block;
}

/* Dark mode overrides */
.dark .mat-mdc-form-field .mdc-text-field__input,
.dark .mat-mdc-form-field .mdc-floating-label {
  color: #f3f4f6 !important;
}
.dark .mat-mdc-form-field .mdc-line-ripple::before,
.dark .mat-mdc-form-field .mdc-line-ripple::after {
  border-bottom-color: #4b5563 !important;
}